name: html_editor_enhanced
description: HTML rich text editor for Android, iOS, and Web, using the Summernote library.
  Enhanced with highly customizable widget-based controls, bug fixes, callbacks, dark mode, and more.
version: 2.5.1
homepage: https://github.com/tneotia/html-editor-enhanced

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  # webview plugin
  flutter_inappwebview: ^5.7.2+3
  # plugin to get webview's visible fraction for keyboard height adjustment
  visibility_detector: ^0.3.3
  # plugin to get when the keyboard is hidden via back (Android)
  # or "done" (iOS) to reset the editor's height
  flutter_keyboard_visibility: ^5.4.0
  # plugin to show a color picker for foreground/highlight color
  flex_color_picker: ^3.0.2
  # plugin to get files from filesystem
  file_picker: ^5.2.0+1
  # plugin to show a scrollable number picker for inserting tables
  numberpicker: ^2.1.1
  # plugin to allow dropdowns and dialogs to be interactable when displaying over the editor
  # related to https://github.com/flutter/flutter/issues/54027
  # pinned to 0.9.1 because of issues with CanvasKit in the latest versions
  pointer_interceptor: ^0.9.3+3
  # plugin to help maintain effective Dart standards
  pedantic: ^1.11.1
  # plugin for @internal annotation
  meta: '>=1.0.0 <2.0.0'

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  assets:
    - packages/html_editor_enhanced/assets/summernote.html
    - packages/html_editor_enhanced/assets/summernote-no-plugins.html
    - packages/html_editor_enhanced/assets/summernote-lite.min.css
    - packages/html_editor_enhanced/assets/summernote-lite-dark.css
    - packages/html_editor_enhanced/assets/summernote-lite.min.js
    - packages/html_editor_enhanced/assets/jquery.min.js
    - packages/html_editor_enhanced/assets/font/summernote.eot
    - packages/html_editor_enhanced/assets/font/summernote.ttf
    - packages/html_editor_enhanced/assets/plugins/summernote-at-mention/summernote-at-mention.js
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' and Android 'package' identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.

  # To add assets to your plugin package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
